// variable color
$color-orange-0: #fb4226;
$color-orange-1: #fa5238;
$color-green-0: #8bc541;
$color-green-1: #00ac4d;
$color-green-2: #108f3e;
$color-blue-0: #23527c;
$color-blue-1: #337ab7;
$color-blue-2: #60c5ef;
$color-white-0: #fff; //default
$color-black-0: black;
$color-black-1: #4a4a4a;
$color-black-2: #222;
$color-gray-0: rgba(238,238,238,.88);
$color-gray-1: #949494;
$color-gray-2: #e4e4e4;
$color-gray-3: rgba(246,246,246,.5);
$color-gray-4: #9b9b9b;


// variable font-size
$fs-0: 16px; //default
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 24px;

// variable margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 20px;
$mg-3: 25px;
$mg-4: 35px;
$mg-5: 30px;

//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 120px;
$pd-4: 25px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 400;
$fw-bold-2: 500;
$fw-bold-3: 700;
$fw-bold: bold;

